@mixin input-validation{
    .input_validation {
        display: none;
        color: rgb(253, 36, 36);
        text-align: left;
        margin-bottom: 10px;
    }

}

.container {
    width: 45%;
    height: fit-content;
    background-color: #fff;
    text-align: center;
    position: fixed;
    top: 15%;
    left: 27.5%;
    border-radius: 10px;
    z-index: 250;
    @media screen and (max-width: 1000px) {
        width: 80%;
        left: 10%;
    }

    .close {
        text-align: right;
        cursor: pointer;
        width: fit-content;
        padding: 10px;
    }
    .login_form {
        margin: auto;
        display: flex;
        flex-direction: column;
        div {
            display: flex;
            flex-direction: column;
            width: 60%;
            text-align: left;
            margin: 5px auto;

            input {
                width: 100%;
                height: 35px;
                border-radius: 5px;
                border: 1px solid #666666;

                &:invalid + .input_validation {
                    display: initial;
                }

            }
            @include input-validation();
        }

        .submit_button {
            width: 30%;
            height: 40px;
            margin: 10px auto;
            background-color: #4B48D8;
            border: none;
            color: #fff;
            font-size: 18px;
            font-weight: bold;
            border-radius: 5px;
            cursor: pointer;
        }
    }
    p {
        cursor: pointer;
        width: fit-content;
        margin: 20px auto;
        &:hover {
            color: rgb(129, 146, 225);
        }
    }

    .create_form {
        margin: auto;
        display: flex;
        flex-direction: column;
        div {
            display: flex;
            flex-direction: row;
            div {
                display: flex;
                flex-direction: column;
                width: 40%;
                text-align: left;
                margin: 5px auto;

                input {
                    width: 100%;
                    height: 35px;
                    margin: 5px auto;
                    border-radius: 5px;
                    border: 1px solid #666666;
                    &:invalid + .input_validation {
                        display: initial;
                    }
                }
                @include input-validation();
            }
        }
    }
    .submit_button {
        width: 30%;
        height: 40px;
        margin: 10px auto;
        background-color: #4B48D8;
        color: #fff;
        font-size: 18px;
        font-weight: bold;
        border-radius: 5px;
        cursor: pointer;
    }

}

.background {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000;
    z-index: 200;
    opacity: 0.7;
}
